{% extends "base.html" %}
{% block content %}
<div class="row g-3">
    <div class="col-md-3">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body"><h5>Üretim & Ürün</h5><h2>{{ urun }}</h2></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="/sertifikalar?cat=Urun">Detaylar</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-warning text-dark mb-4">
            <div class="card-body"><h5>Araç & Filo</h5><h2>{{ arac }}</h2></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-dark stretched-link" href="/sertifikalar?cat=Arac">Detaylar</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-success text-white mb-4">
            <div class="card-body"><h5>Personel & SRC</h5><h2>{{ pers }}</h2></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="/sertifikalar?cat=Personel">Detaylar</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body"><h5>Tesis & Mekan</h5><h2>{{ tesis }}</h2></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="/sertifikalar?cat=Tesis">Detaylar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
